@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --light-cyan:hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --light-cyan: hsl(193, 38%, 86%);
    --gayish-blue:hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue:hsl(218, 23%, 16%);
}


body {
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background: var(--light-grayish-cyan);
    line-height: 1.5;
    font-family: 'Manrope', sans-serif;
    background: var(--dark-blue);
}


main {
    width: 50%;
    margin: 0 auto;
}

.card_container{
    background: var( --dark-grayish-blue);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    justify-content: space-around;
    text-align: center;

}


img{
    display: block;
    object-fit: cover;
    
}

h3{
    color: var(--neon-green);
    font-size: 1rem;
    text-transform: uppercase;
}

p{
    color: var(--light-cyan);
    padding: 1rem;
    font-size: 1.3rem;
}
button{
    margin: 0 auto -60px;
    background: var(--neon-green);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 10px 20px 10px;

}
button:hover {
    box-shadow: 0 0 40px var(--neon-green);
}

@media screen and (max-width:1024px) {

   main{
    width: 70%;
   }
}


@media screen and (max-width:600px) {

    main{
     width: 90%;
    }
 }