*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --blue:hsl(246, 80%, 60%);

    --work:hsl(15, 100%, 70%);
    --play:hsl(195, 74%, 62%);
    --study:hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social:hsl(264, 64%, 52%);
    --care:hsl(43, 84%, 65%);


    --very-dark-blue:hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --bale-blue:hsl(236, 100%, 87%);


    --transition:400ms all ease;

}

body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
img{
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main{
    
    width: 70%;
    margin: 0 auto;
}

.container{
    display: grid;
    grid-template-columns: 30% 70%;
    gap:2rem;
}

.dashboard_left{
    background: var(--dark-blue);
    border-radius: 1rem;
   

}

.left_top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--blue);
    border-radius: 1rem;
    padding: 1.7rem;
    
}


.avatar{
    justify-content: center;
    align-items: center;

}

.avatar img{
    width: 5rem;
    border-radius: 50%;
    border: 3px solid white;



}

small , h3{
    color: white;
}

h3{
    font-size: 2.3rem;
}

.dashboard_left .btns{
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    gap: 1rem;
    padding: 1.7rem;

}

.btns button{
    background: none;
    color: white;
}
.btns button:hover{
    opacity:.5;
}

.dashboard_left p :hover{
    color: var(--bale-blue);
}







.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}

.card{
    border-radius: 1rem;
    background: var(--work);
    display: flex;
    flex-direction: column;
}


.card_top {
    border-radius: 1rem;
    align-items: right;

}
.card:nth-child(2){
    background: var(--play);
}

.card:nth-child(3){
    background: var(--study);
}

.card:nth-child(4){
    background: var(--exercise);
}

.card:nth-child(5){
    background: var(--social);
}

.card:nth-child(6){
    background: var(--care);
}
.card_top {
    height: 15%;
    /* display: grid; */
    padding-right: 2rem;
    justify-content: end;
    text-align: right;
    place-items: right;
}

.card:hover .card_bottom{
    background: var(--desaturated-blue);
}

.card_top img{
    height: 3rem;
    width: 3rem;
}
.card_bottom{
    background: var(--dark-blue);
    padding: 1.5rem;
    border-radius: 1rem;
    color:white;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_bottom  >div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.card_bottom span{
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: bolder;
}


.card_bottom h2{
    font-size:3rem;
}

.card_bottom small{
    font-weight: 100;
    opacity: .5;
    font-size: .90rem;
}



